*{
    margin:0;
    padding:0;
}


home body{
    height:100%;
    width:100%;
    
}
nav{
    display: flex;
    background-color: blanchedalmond;
    padding:10px
}
nav li{
    list-style: none;
    padding:0 23px;
}